---
import Layout from "@/layouts/Layout.astro"
---

<Layout
	title="Ежедневные размышления Анонимных Алкоголиков, Анонимных Наркоманов, Анонимных Созависимых, Ал-Анон."
	description="Ежедневники на 365 дней"
>
	<h1 class="sr-only">
		Ежедневные размышления Анонимных Алкоголиков, Анонимных Наркоманов, Анонимных
		Созависимых, Ал-Анон.
	</h1>
</Layout>
