---
const { href, class: className, ...props } = Astro.props

const { pathname } = Astro.url
const isActive = href === pathname || href === pathname.replace(/\/$/, "")
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
	<slot />
</a>
<style>
	a {
		@apply select-none flex items-center gap-1 rounded-full border border-[var(--border-soft)] bg-[var(--bg-elevated)] px-4 py-2 font-medium transition-colors ease-linear hover:bg-[var(--bg-soft)];
	}
	a.active {
		@apply bg-[var(--text-main)] text-[var(--bg-page)];
	}
</style>
