---
import Copy from '@/components/Copy.astro'
import { alanonmm } from "@/data/reflections/alanonmm"
import Layout from "@/layouts/Layout.astro"
import { marked } from "marked"

export async function getStaticPaths() {
	const paths = []

	for (const [month, posts] of Object.entries(alanonmm)) {
		for (const [slug] of Object.entries(posts)) {
			paths.push({ params: { month, slug } })
		}
	}

	return paths
}

const { slug, month } = Astro.params

const monthPosts = alanonmm[month]
const entry = monthPosts?.[slug]
const dayKey = entry ? Object.keys(entry)[0] : null
const postData = dayKey ? entry[dayKey] : null
---

<Layout
	title={`Размышления Ал-Анон Мужество Меняться - ${postData.title}`}
	description={"Размышления Ал-Анон Мужество Меняться"}
>
	<main class="flex flex-col gap-12 mx-auto max-w-4xl">
		<div class="flex items-center justify-between">
			<h3
				class="before:w-[4px] tracking-tight before:rounded-xl before:-ml-3 ml-3 before:h-full before:absolute relative before:bg-stone-300 md:text-xl font-medium text-lg"
			>
				Ал-Анон Мужество Меняться
			</h3>
			<Copy />
		</div>

		<div
			class="rounded-2xl md:mx-0 -mx-5 shadow-[inset_0_0_2px_1px_#ffffff4d] ring-1 ring-black/5"
		>
			<div class="rounded-2xl p-2 shadow-md shadow-black/5">
				<div
					class="rounded-xl shadow-lg ring-1 ring-black/5 grid grid-cols-1 gap-3 lg:shadow-2xl bg-white p-6 md:p-14"
				>
					<div class="mb-8">
						<h1 class="mb-4 text-[#070738] text-4xl lg:text-6xl font-bold">
							{postData.title}
						</h1>
						<p
							class="before:w-[4px] tracking-tight before:rounded-xl before:-ml-3 ml-3 before:h-full before:absolute relative before:bg-emerald-300 text-emerald-900"
						>
							<span id="postDesc">{postData.desc}</span>
						</p>
					</div>

					<article
						id="postContent"
						class={`prose max-w-none prose-heading:text-balance prose-zinc prose-lg xl:prose-xl `}
						set:html={marked(postData.content)}
					/>
				</div>
			</div>
		</div>
	</main>

	<script src="@/js/copy.js"></script>
</Layout>
